<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-lazy-init="true">

	<!-- Activates scanning of @Autowired -->
	<context:annotation-config />

	<bean id="dataModelWrapper"
		class="in.xnnyygn.getwallpaper.AutoRefreshableRemoteDataModelWrapper"
		destroy-method="destroy">
		<property name="sourceUrl" value="http://localhost:3000/wallpapers/preferences" />
		<property name="period" value="60" />
		<property name="filePath" value="/tmp/p.dat" />
	</bean>

	<bean id="recommender" class="in.xnnyygn.getwallpaper.RecommenderFactoryBean" />

</beans>
