<div class="wallpaper-thumbnail-item">
  <%= image_tag 'wallpapers/thumbnail/' + wallpaper.storage_key, alt: 'Image' %>
  <p class="text-center"><%= truncate(wallpaper.title, length: 28) %></p>
</div>