<div class="wallpaper-thumbnail-item">
  <%= image_tag thumbnail_wallpaper_path(wallpaper, width: 200, height: 125), alt: 'Image' %>
  <div class="hidden thumbnail_download_dialog_path"><%= download_dialog_wallpaper_path(wallpaper) %></div>
  <p class="text-center">
    <%= link_to truncate(wallpaper.title, length: 25), wallpaper_path(wallpaper) %>
  </p>
</div>