<div class="panel panel-default">
  <div class="panel-heading"></div>
  <div class="panel-body wallpaper-thumbnail-container">
    <%= render partial: 'wallpaper_thumbnail_item', collection: @wallpapers, as: 'image_file_name' %>
  </div>
</div>